/* NAVBAR */
.logonavbar {
  width: 80px;
}

.navbar {
  background-color: #116530;
}

.navbar-brand {
  margin-left: 50px;
}

.nav-item {
  margin-right: 50px;
}

.navbar-nav {
  font-size: 1.25rem;
}

.navbar-toggler {
  margin-right: 30px;
}

@media (min-width: 1300px) {
  .navbar-nav {
    font-size: 1rem;
  }

}

@media (max-width: 991px) {
  .nav-link {
    margin-left: 50px;
  }
  .linkInicio {
    margin-top: 20px;
  }

  .linkFinal {
    margin-bottom: 20px;
  }

}

@media (min-width: 991px) {
  .contenedorHeader h1{
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .contenedorHeader h1 {
    font-size: 30px;
  }
  .d-block {
    margin-bottom: 20px;
  }

}

h5 {
  float: right;
  margin-top: 13%;
  font-family: 'Asul', sans-serif;
}
/* ///////////////////////////// */

/* HEADER WITH TITLE */
.fotoHeader {
  width: 100%;
}

.contenedorHeader {
  display: inline-block;
  position: absolute;
  left: 28%;
  background-color: #ffff;
  top: 25%;
  border: 4px solid black;
}

.contenedorHeader h1{
  padding: 30px;
  font-family: 'Asul', sans-serif;
  color: #116530;
}


.titleHeader {
  text-align: center;
}


/* CAROUSEL */
.carousel-item{
  text-align: center;
  background: #E8E8CC;
}

.galloFoto, .casadoFoto, .NuggetsFoto {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15%;
  /* float: right;
  margin-top: 50px;
  margin-right: 70px; */
}


.carousel-item h1{
  font-family: 'Kaisei Decol', serif;
}

.carousel-item .row {
  padding: 10%;
}
